{% load static %}
<!doctype html>

<html
  lang="en"
  class="light-style layout-wide customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% get_static_prefix %}"
  data-template="vertical-menu-template-free"
  data-style="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Registro Mi MuniSanLuis</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />

    <!-- Helpers -->
    <script src="{% static 'vendor/js/helpers.js'%}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'js/config.js' %}"></script>
  </head>

  <body>
    <!-- Content -->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card px-sm-6 px-0">
            <div class="card-body">
              <!-- Logo -->
              
              <!-- /Logo -->
              <h4 class="mb-1">Completa el formulario 🚀</h4>

              <form id="formAuthentication" method="POST" action="{% url 'register' %}">
              {% csrf_token %}

              {% if form.errors %}
                  <div class="alert alert-danger">
                      {% for field, errors in form.errors.items %}
                          {% for error in errors %}
                              <p>{{ error }}</p>
                          {% endfor %}
                      {% endfor %}
                  </div>
              {% endif %}

              <div class="mb-6">
                  <label for="id_nombre" class="form-label">Nombre</label>
                  {{ form.nombre }}
              </div>

              <div class="mb-6">
                  <label for="id_apellido" class="form-label">Apellido</label>
                  {{ form.apellido }}
              </div>

              <div class="mb-6">
                  <label for="id_correo" class="form-label">Correo electrónico</label>
                  {{ form.correo }}
              </div>

              <div class="mb-6">
                  <label for="id_telefono" class="form-label">Teléfono</label>
                  {{ form.telefono }}
              </div>

              <div class="mb-6 form-password-toggle">
                  <label class="form-label" for="id_password">Contraseña</label>
                  <div class="input-group input-group-merge">
                      {{ form.password }}
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
              </div>

              <div class="mb-6 form-password-toggle">
                  <label class="form-label" for="id_password2">Confirmar contraseña</label>
                  <div class="input-group input-group-merge">
                      {{ form.password2 }}
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
              </div>

              <div class="mb-6 form-check">
                  {{ form.acepto_terminos }}
                  <label class="form-check-label" for="id_acepto_terminos">
                      Acepto los 
                      <a href="{% url 'terminos_condiciones' %}" target="_blank">Términos y Condiciones</a>
                      y la
                      <a href="{% url 'politica_privacidad' %}" target="_blank">Política de Privacidad</a>.
                  </label>
              </div>


              <button class="btn btn-primary d-grid w-100" type="submit">Registrarse</button>
          </form>

            
            </div>
          </div>
          <!-- Register Card -->
        </div>
      </div>
    </div>

    <!-- / Content -->

    <div class="buy-now">
      <a


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/js/menu.js' %}"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Page JS -->

    <!-- Place this tag before closing body tag for github widget button. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
